@import url('https://fonts.googleapis.com/css?family=Merriweather|Inconsolata');


body {
  text-align: justify;
}

.header-panel {
  background-color: white;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: black
}

p.caption {
  color: #777;
  margin-top: 10px;
}

.book .book-summary {
    background: #ffffff;
    width: 300px;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
    color: black;
    font-family: 'Merriweather';
    font-weight: 300;
}

.book .book-summary ul.summary li {
    list-style: none;
    font-weight: 300;
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active > a {
    color: #254b8e;;
    background: #fafafa;
    font-weight: 300;
}

h4, .title {
  font-size: 2em;
  font-family: "Merriweather";
  font-weight: 300;
  color: black;
}

.book.font-family-1 {
    font-family: "Merriweather";
    font-weight: 200;
}

.book .book-body .page-wrapper .page-inner section.normal h1.title {
  font-size: 3em;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size: 2.5em;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
    font-size: 1.5em;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
    font-size: 1.3em;
}

.book .book-body .page-wrapper .page-inner section.normal h4 {
    font-size: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal h4.date {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 1em;
}

section.normal dl,
.book .book-body .page-wrapper .page-inner section.normal ol,
.book .book-body .page-wrapper .page-inner section.normal p,
.book .book-body .page-wrapper .page-inner section.normal table,
.book .book-body .page-wrapper .page-inner section.normal ul {
    margin-top: 0;
    margin-bottom: .75em;
    list-style-type: circle;
}

.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4 {
    margin-top: 0em;
    margin-bottom: .75em;
}

.book .book-body .page-wrapper .page-inner section.normal b,
.book .book-body .page-wrapper .page-inner section.normal strong {
    font-weight: 400;
}

 h1, h2, h3, .title {
  font-family: "Merriweather", serif;
  font-weight: 200;
}

code, pre {
  font-family:  "Inconsolata";
}

.quote {
  color: #254b8e;
}
