@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);

.title-slide {
  background-color: white;
}

.title-slide  h1,.title-slide  h3 {
  color: black;
  box-shadow: none;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	text-shadow: none;
  font-family: 'Raleway';
  position: absolute;
}

body, h1, h2, h3 {
  font-family: 'Raleway' !important;
}

.title-slide  h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
  bottom: 15%;
}

.title-slide  h3 {
  font-size: 2.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
  bottom: 10%;
}

.remark-code, .remark-inline-code, t
{
	font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  font-size: 0.65em;
}

.container {
  width: 80%;
}

.column,
.columns {
  margin-left: 4%;
}

.column:first-child,
.columns:first-child {
  margin-left: 0;
}

.one.column,
.one.columns {
  width: 4.66666666667%;
}

.twohalf.columns {
  width: 16.666666666667%;
}

.two.columns {
  width: 13.3333333333%;
}

.three.columns {
  width: 22%;
}

.four.columns {
  width: 30.6666666667%;
}

.five.columns {
  width: 39.3333333333%;
}

.six.columns {
  width: 48%;
}

.seven.columns {
  width: 56.6666666667%;
}

.eight.columns {
  width: 65.3333333333%;
}

.nine.columns {
  width: 74.0%;
}

.ninehalf.columns {
  width: 78.0%;
}

.ten.columns {
  width: 82.6666666667%;
}

.eleven.columns {
  width: 91.3333333333%;
}

.twelve.columns {
  width: 100%;
  margin-left: 0;
}

.one-third.column {
  width: 30.6666666667%;
}

.two-thirds.column {
  width: 65.3333333333%;
}

.one-half.column {
  width: 48%;
}

/* Offsets */
.offset-by-one.column,
.offset-by-one.columns {
  margin-left: 8.66666666667%;
}

.offset-by-two.column,
.offset-by-two.columns {
  margin-left: 17.3333333333%;
}

.offset-by-three.column,
.offset-by-three.columns {
  margin-left: 26%;
}

.offset-by-four.column,
.offset-by-four.columns {
  margin-left: 34.6666666667%;
}

.offset-by-five.column,
.offset-by-five.columns {
  margin-left: 43.3333333333%;
}

.offset-by-six.column,
.offset-by-six.columns {
  margin-left: 52%;
}

.offset-by-seven.column,
.offset-by-seven.columns {
  margin-left: 60.6666666667%;
}

.offset-by-eight.column,
.offset-by-eight.columns {
  margin-left: 69.3333333333%;
}

.offset-by-nine.column,
.offset-by-nine.columns {
  margin-left: 78.0%;
}

.offset-by-ten.column,
.offset-by-ten.columns {
  margin-left: 86.6666666667%;
}

.offset-by-eleven.column,
.offset-by-eleven.columns {
  margin-left: 95.3333333333%;
}

.offset-by-one-third.column,
.offset-by-one-third.columns {
  margin-left: 34.6666666667%;
}

.offset-by-two-thirds.column,
.offset-by-two-thirds.columns {
  margin-left: 69.3333333333%;
}

.offset-by-one-half.column,
.offset-by-one-half.columns {
  margin-left: 52%;
}


ul {
  list-style: circle;
  list-style-type: circle;
}

.blue {
  color: #1F407A;
}

.site-footer {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  padding: 0;
  margin: 0;
}

html.blur .slide-background {
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.smallest {
  font-size: 65% !important;
}

.smaller {
  font-size: 70% !important;
}

.small {
  font-size: 85% !important;
}

.front {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  bottom: 10%;
  text-align: left;
}

.intro {
  text-align: center;
  margin-top: 30% !important;
}


.content {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translate(0, -50%);
}

.centered {
  display: block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  top: 10%;
  transform: translate(0, -10%);
}

.reducedtop {
  top: 35% !important;
}

.grid {
  position: relative;
  display: block;
  top: 40%;
}

.gridcolumn, .centeredgridcolumn {
  display: table-cell;
}

.centeredgridcolumn {
  vertical-align: middle !important;
}

header {
  font-size: 1.3em !important;
  margin: 0 0 20px 0;
  color: #1F407A;
  font-weight: 600 !important;
  text-align: left;
  line-height: 1.2 !important;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.subheader {
  font-size: 85% !important;
  color: black;
  font-weight: 600 !important;
  text-align: left;
  line-height: 1.2 !important;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-style: italic !important;
  margin-top: 10px !important;
}

.quote {
  color: #1F407A;
  text-align: right;
}

li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  background: #e7e8e2;
  border-radius: 5px;
}

.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}

#slideshow .slide .content code {
  font-size: 0.8em;
}

#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}

#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}

#slide-how .slides h3 {
  margin-top: 0.2em;
}

#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
